---
---

@import "colors"
@import "base"
@import "syntax"

// Utilities
.wrapper
  max-width: 1000px
  padding: .75em 1.5em
  margin: 0 auto

.u-flex--between
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.u-flex--align-center
  align-items: center


// Header
#site-nav
  text-align: center
  display: flex
  align-items: center
  flex-wrap: wrap

.site-presentation
  text-indent: -9999px

.site-nav__home
  border: 0
  order: -1

  &:hover
    border: 0

.site-nav__link
  font-weight: 600
  color: $base-color
  background: #fc0
  min-width: 5em
  border-radius: .5em
  border-bottom: 0
  box-shadow: 5px 5px
  padding: .375em
  margin-left: 1em

// Content
.page-section
  display: flex
  flex-wrap: wrap

.page-section__content
  display: flex
  flex-direction: column
  flex-wrap: wrap

.about
  display: flex
  flex-wrap: nowrap
  align-items: flex-start

.about__title
  margin-right: 10%
  flex: 0 0 10%


// Footer
#site-footer
  color: $fg-muted
  background-color: $bg-muted

.footer-links
  color: white
  background-color: #7FDBFF
  border-bottom: 1px solid $fg-muted
  padding-top: .75em

.footer-links__section
  flex: 1

.footer-links__list
  list-style: none

.footer-compliance
  text-align: center
  flex: 2

.footer-menu__list
  list-style: none
  display: flex
  flex-wrap: wrap

.footer-menu__item
  margin-right: .75em

.footer-menu__link
  color: inherit
  font-weight: 600
  text-transform: capitalize
  border-bottom: none

  &:hover
    color: $fg-muted-high
    border-bottom: inherit

.copy
  font-size: .8125em
  line-height: 1.8461538462em

.copy__link
  color: inherit
  border-bottom-color: inherit

  &:hover
    color: $fg-muted-high
    border-bottom-color: $fg-muted-high

.cc-license
  order: 1


// Extras
.title--crossed
  color: white
  background-color: teal
  transform: scale(1)

.title--crossed::before
  background-color: rgb(133,14,96)
  content: ""
  transform: skew(5deg, 8deg) rotate(-35deg)
  z-index: -1
  width: 5em
  height: 100%
  position: absolute

.title--crossed::after
  background-color: rgb(22,24,62)
  content: ""
  transform: skew(5deg, 8deg) rotate(-35deg)
  z-index: -2
  width: 6em
  height: 100%
  position: absolute
  left: .1em
