---
---

@import "colors";
@import "base";
@import "syntax";

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex--align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.flex--align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.spacing {
  padding: .75em;
  margin: .75em;
}

.flex-item--single {
  flex: 1 1 0;
  min-width: 300px
}

.flex-item--double {
  flex: 2.5 1 0
}

.flex-item--main { /* Main container */
  -webkit-box-flex: 2.5;
  -ms-flex: 2.5 0 0;
  flex: 2.5 0 0
}

.flex-item--test { /* Articles inside main content */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  min-width: 250px;
}

.flex-item--aside { /* Aside container */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  min-width: 300px;
}

.flex-item--full { /* Ocuppies the whole width */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex--nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* Aside banner */
.aside__banner {
  width: 100%;
}


@media screen and (max-width: 50em) {
  .site-header,
  .footer-info,
  .footer-nav,
  .site-nav,
  .footer-copy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-nav, .main-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-info {
    flex-flow: column wrap;
  }
}


// From now on

// Header
.site-header {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav {
  flex-wrap: wrap;
}

// footer
.site-footer {
  background-color: tomato;
}

.footer-links {
  flex-wrap: wrap;
}

.footer-links__section {
  background-color: white;
  min-width: 250px;
  flex: 1;
  flex-direction: column;
}

.footer-links__title {
  font-size: 1.5em;
  margin: .5em;
  background-color: deepskyblue;
}

.footer-compliance {
  flex: 2
}

.footer-info {
  color: $fg-muted;
  background-color: $bg-muted;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  border-bottom: 0;

  &:hover {
    border-bottom: 0;
  }
}

.footer-nav__link {
  color: inherit;
  font-weight: 600;
  padding: .5em;
  margin: .5em 1em;
  border-bottom: 0;

  &:hover {
    color: $fg-muted-high;
    border-bottom: 0;
  }
}

.footer-copy {
  flex: 1 1 100%;
}

// Main aside
.main-aside {
  background-color: lightgray;
}
.about {
  background-color: white;
}

.about__title {
  background-color: deepskyblue;
}
