*, h1 { padding: 0; margin: 0 }

html {
	font: 100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*
	background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%);
	background-image:    -moz-linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%);
	background-image:     -ms-linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%);
	background-image:      -o-linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%);
	background-image:         linear-gradient(hsla(0,0%,0%,0) 95%, hsla(0,25%,50%,.5) 95%);
	background-position: 50% 0;
	background-size: 1.5em 1.5em;
	*/
	color: #c0c0c0;
}

/* h1 to p based on http://joshnh.com/weblog/how-to-set-up-a-baseline-grid/ */
h1 {
	font-size: 3em; /* 48 / 16 */
	line-height: 1em; /* 48 / 48 */
	margin-bottom: .5em; /* 24 / 48 */
}
h2 {
	font-size: 2.25em; /* 36 / 16 */
	line-height: 1.333333333333333em; /* 48 / 36 */
	margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
	font-size: 1.5em; /* 24 / 16 */
	line-height: 1em; /* 24 / 24 */
	margin-bottom: 1em; /* 24 / 24 */
}
h4 {
	font-size: 1.3125em; /* 21 / 16 */
	line-height: 1.142857142857143em; /* 24 / 21 */
	margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
	font-size: 1.125em; /* 18 / 16 */
	line-height: 1.333333333333333em; /* 24 / 18 */
	margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
	font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
}
p {
	font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
}

a:link { color: #808080 }
a:visited { color: #808080 }
a:hover { color: #cfcfcf }

ul, ol {
	line-height: 1.5em;
	margin-bottom: 1.5em;
	list-style-position: inside;
}

ol pre, ul pre { margin-left: 3em }

ul ol, ol ul, ul ul, ol ol { margin-left: 3em; }

blockquote {
	color: #222;
	background: #cfcfcf;
	font-style: italic;
	padding: 1.5em 4.5em;
	margin-bottom: 1.5em;
	position: relative;
	text-align: justify;
	border-left: 1em solid #8080ff;
	border-right: .125em solid #8080ff;
}

blockquote::before {
	content: "\201C";
	font-size: 6em;
	font-weight: bold;
	color: #999;
	position: absolute;
	left: 10px;
	top:5px;
}

blockquote a {
	text-decoration: none;
	color: #8080ff;
}

blockquote a:hover { color: #666; }

table {
	color: #222;
	font-family: monospace;
	font-size: 1.2307692308em;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 1.5em;
}

thead {
	color: #222;
	background: #8080ff;
}

th { padding: 0 1em }
td { padding: 0 1em }

tr:nth-of-type(2n) { background: #cfcfcf }

pre {
	line-height: 1.5em;
	padding: 1.5em 1em; /* .75 = line-height - font-size / 2  *in pixels* */
	margin-bottom: 1.5em
}

dl { margin-bottom: 1.5em }
dl > dt { line-height: 1.5em; font-weight: bold }
dl > dd { line-height: 1.5em; margin-left: 1.5em }

hr {
	margin: 2.9375em 3em 2.9375em 3em;
	border-color: #8080ff
}

/* ------- HEADER ------- */
.site-header { text-align: center }

.site-nav {
	text-transform: uppercase;
	font-weight: bold
}
.site-nav ul li {
	margin-right: 1em;
	display: inline
}

/* ------- FOOTER ------- */
.footer-info { text-align: center }

.footer-links { background: #222; margin-bottom: 1.5em; padding-top: 1.5em  }
.footer-links ul li a { text-decoration: none }
.footer-links ul li a:hover { padding-left: .5em }

.footer-menu {
	text-transform: uppercase
}

.footer-menu ul li {
	margin-right: .5em;
	display: inline
}

.copyright {
	color: #808080;
	font-size: small;
	line-height: 1.8461538462em;
	margin-bottom: 1.8461538462em;
}

.subscription {
	color: #808080;
	text-transform: uppercase
}

/* ------ CONTENT -------- */
.post { margin-bottom: 3em }

.post h1 a, .post h1 span {
	font-size: 0.3333333333em;
	font-weight: normal;
	line-height: 1em;
	text-transform: uppercase;
	color: #cfcfcf;
	background: rgba(128,128,255,.1);
	padding: 1em 0;
	display: block;
	text-decoration: none;
}

.post-date {
	background: #8080ff;
	margin-right: 1em;
	padding: .9375em 1em
}

.img_banner { width: 50%; display: block; margin: 0 auto }


/* ------- EXTRAS ------- */
.section-tools ul li {
	list-style-type: none;
	display: inline-block;
}


/* -------- PURE-GRIDS -------- */
.pure-g {
	margin: 0 auto;
	max-width: 1000px;
}
.pure-g [class *=pure-u] { box-sizing: border-box; }


/* ------- MEDIA QUERIES -------- */

@media screen and (min-width: 48em) {
	.site-header { text-align: left }

	.site-logo { float: left; clear: left }

	.site-nav { float: right }
	.site-nav ul { margin-top: 0 }

	.section-about-me, .section-about-site {
		padding-right: 2em
	}

	.section-featured { padding-right: 2em }
	.section-latest { padding-right: 2em }

	.footer-links { padding-top: 1.5em; margin-bottom: 1.5em }
	.footer-links .pure-g div { padding-right: 2em }
	.footer-links .pure-g div:last-child { padding-right: 0 }

	.footer-info { text-align: left }
	.footer-menu,.footer-menu ul { display: inline }

	.subscription, .cc-license {
		float: right;
		clear: right;
		margin-top: 0;
		margin-bottom: 1em;
	}

	.input-field label {
		font-size: 1.5em;
		line-height: 2em;
		width: 5em;
		float: left;
		clear: left
	}

	.input {
		padding: .75em;
		float: left;
		height: 1.25em;
		margin-left: 1em;
		margin-bottom: 2.5em;
		width: 50%
	}

	#message {
		float: left;
		height: 11.875em;
		resize: none;
	}

	#submit_button {
		font-size: 2em;
		float: left;
		clear: both;
		height: 1.5em;
		margin-bottom: 1em;
	}
}


@media screen and (min-width: 64em) {
}
