* { padding: 0; margin: 0 }

body {
	font: 62.5%/300% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #c0c0c0;
	background-color: #222;
}

h1 {font-size: xx-large; margin: 0 }
h2 {font-size: x-large }
h3 {font-size: large }
h4 {font-size: medium }
h5 {font-size: small }
h6 {font-size: x-small }

h1, h2, h3, h4, h5, h6 { line-height: 3em }

p {
	font-size: medium;
	margin: 1em 0 1.5em 0
}

a:link { color: #808080 }
a:visited { color: #808080 }
a:hover { color: #cfcfcf }

ul, ol {
	font-size: 1.4em;
	list-style-position: inside;
}

ol p, ul p {
	font-size: 1em;
	margin-left: 3em;
}

ol pre {
	font-size: 1em;
	margin-left: 4.1em
}

ul ol, ol ul, ul ul, ol ol {
	font-size: 1em;
	margin-left: 6em;
}

blockquote{
	display:block;
	background: #cfcfcf;
	padding: 1.5em 2em 1.5em 4.5em;
	margin: 0 0 2em;
	position: relative;
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.2;
	color: #666;
	text-align: justify;
	border-left: 15px solid #8080ff;
	border-right: 2px solid #8080ff;
}

blockquote::before{
	content: "\201C";
	font-family: Georgia, serif;
	font-size: 6em;
	font-weight: bold;
	color: #999;
	position: absolute;
	left: 10px;
	top:5px;
}

blockquote a{
	text-decoration: none;
	padding: 0 3px;
	color: #8080ff;
}

blockquote a:hover{
	color: #666;
}

table {
	font: 1.6em/1.6em monospace;
	text-align: left;
	margin: 1em 0 3em 0;
	background: #cfcfcf;
}

thead {
	color: #cfcfcf;
	background: #8080ff;
	border-bottom: 1px #222 solid;
}

th {
	padding: 1em;
	border-right: 1px #222 solid;
}

td {
	padding: .6em 1em .3em 1em;
	border-right: 1px #222 solid;
	border-bottom: 1px #222 solid;
	color: #222
}

pre {
	font-size: 1.4em;
	padding-left: 1em;
	padding-right: 1em
}

dl { font-size: 1.4em }
dl dt { font-weight: bold }
dl dd { margin-left: 3em }

/* ------- HEADER ------- */
.site-header { text-align: center }

.site-logo {
	line-height: 1.4em;
	margin: 0
}

.site-logo a { color: #8080ff }

.site-subtitle { margin: 0 }

.site-nav ul {
	margin-top: 3em;
	text-transform: uppercase;
}
.site-nav ul li {
	margin-right: 1em;
	display: inline;
	font-weight: bold
}

/* ------- FOOTER ------- */
.footer-info { text-align: center }

.footer-links { background-color: #111 }
.footer-links ul li { border-bottom: dotted 1px #c0c0c0 }
.footer-links ul li a { text-decoration: none }
.footer-links ul li a:hover { padding-left: .5em }

.footer-menu ul li {
	font-size: small;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: .5em;
	display: inline
}

.copyright {
	color: #808080;
	font-size: small;
	margin-top: .6em
}

.subscription {
	color: #808080;
	text-transform: uppercase
}

/* ------ CONTENT -------- */
.post h1 {
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1em;
}

.post h1 a, .post h1 span {
	color: #cfcfcf;
	background: rgba(128,128,255,.1);
	padding: 1em 0;
	display: block;
	text-decoration: none;
}

.post-date {
	background: #8080ff;
	padding: .93em 1em; /* why this em??? to get same size ~ */
	margin-right: 1em;
}

/* ------- EXTRAS ------- */
.section-tools ul li {
	list-style-type: none;
	border-left: #8080ff .3em solid;
	padding-left: .3em;
	margin-top: .3em
}

/* -------- PURE-GRIDS -------- */
.pure-g {
	margin: 0 auto;
	padding: 2em 4em 4em 4em;
	max-width: 1000px
}

.pure-g [class *=pure-u] { box-sizing: border-box; }
.pure-g .pure-g { padding: 0 }
.l-box { padding: 0 2em }

/* ------- MEDIA QUERIES -------- */
@media screen and (min-width: 48em) {

	.site-header { text-align: left }

	.site-nav ul {
		margin-top: 0;
	}

	.section-about-me p {
		column-count: 2;
		column-gap: 2em
	}

	.footer-info { text-align: left }
	.footer-menu,.footer-menu ul { display: inline }

	.subscription, .cc-license {
		float: right;
		clear: right;
		margin-top: 0;
		border: 0
	}

}


@media screen and (min-width: 64em) {
	.section-about-me p {
		column-count: 1;
		column-gap: 0
	}

}
