<footer id="site-footer">
  <div class="wrapper footer-wrap">

    <div class="footer-section">

      <a class="logo__link" href="/" title="Return to the homepage">
        <svg class="logo logo--sm">
          <use xlink:href="#logo"></use>
        </svg>
      </a>

      <p class="copyright">&copy; Copyright 2015&ndash;{{ site.time | date: '%Y' }} <a class="badge__link" href="https://batalooppak.github.io">Bata&nbsp;loop&nbsp;pak</a> &mdash;&nbsp;All&nbsp;rights&nbsp;reserved.</p>

      <img
      class="cc-license" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" alt="Creative Commons License">

    </div>

    <div class="footer-nav">

      <h2 class="offscreen">Footer Navigation</h2>

      <div class="footer-section">
        <h3 class="footer-section__title">Categories</h3>
        {% for category in site.categories %}
        <a class="footer-section__link" href="/categories/{{category | first}}/">{{category | first }}</a>
        {% endfor %}
      </div>

      <div class="footer-section">
        <h3 class="footer-section__title">Site</h3>
        <a class="footer-section__link" href="#">Accessibility</a>
        <a class="footer-section__link" href="#">Sitemap</a>
        <a class="footer-section__link" href="#">Subscribe</a>
        <a href="" class="footer-section__link"></a>
        <a href="" class="footer-section__link"></a>
        <a href="" class="footer-section__link"></a>
      </div>
    </div>
  </div>
</footer>
