<header class="site-header" role="banner">

  <h1 class="offscreen">{{ site.title }}</h1>

  <a href="/" class="logo" title="Return to the homepage">
    <img src="/images/logo.svg" alt="logo bata loop pak" height="150em">
  </a>

  <nav id="site-nav" role="navigation">
    <h1 class="offscreen">Site navigation</h1>
    <span id="toggle" onclick="toggle('site-nav')"></span>
    {% for page in site.pages %}
    {% if page.title %}
    <a class="site-nav__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}
    </a>
    {% endif %}
    {% endfor %}
  </nav>

</header>
