<header class="site-header" role="banner">
	<div class="pure-g">

		<div class="pure-u-1">
			<div class="site-logo">
				<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
				<p class="site-subtitle">{{ site.subtitle }}</p>
			</div>

			<nav class="site-nav" role="navigation">
				<a href="#" class="menu-icon"></a>
				<ul>
					{% for page in site.pages %}
					{% if page.title %}
					<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>

		</div>

	</div>
</header>
