$base-color: #222
$link: rgb(180,234,0)
$link-highlight: lighten($link, 5%)
$fg-footer: rgb(255,255,255)
$bg-footer: rgb(52,68,89)
$footer-link: rgb(180,234,0)
$footer-link-highlight: lighten($footer-link, 5%)
$bg-header: rgb(47,164,259)

// Muted footer

$fg-muted: #666
$fg-muted-high: #777
$bg-muted: #333
