.footer-nav {
  background: #333;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  background: white;
  max-width: calc((100% - 4em ) / 3);
  padding: 1em 2em;
}

.footer-section__title {
  font-size: 1.5em;
}

.footer-section__link {
  display: block;
}
