.footer-nav {
  background: $back-color;
  padding: $gutter;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  // max-width: calc((100% - 2em ) / 3);
  padding: 0 $gutter;
  flex:1;

  @media screen and (max-width: 600px) {
    flex: 0 0 100%;
    margin-bottom: $gutter * 2
  }
}

.footer-section__title {
  font-size: 1.5em;
}

.footer-section__link {
  display: block;
}
