#site-header {
  padding: $gutter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

#site-nav {
  @media screen and (max-width: 767px) {
    background: $bg-muted;
    padding-top: 5em;
    position: fixed;
    top:0;
    right: -300px;
    width: 300px;
    height: 100%;
    transition: all .3s;
  }
}

#toggle {
  @media screen and (max-width: 767px) {
    width: 2em;
    height: 2em;
    background: #fff;
    border: 1px solid #000;
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 20;
    cursor: pointer;
  }
}

.site-nav__link {
  background: $back-color;
  font-weight: bold;
  text-decoration: none;
  padding: .75em 1.5em;
  position: relative;
  transition: all .5s;

  @media screen and (max-width: 767px) {
    color: $fg-muted;
    background: transparent;
    display: block;
    box-shadow: .1em 0 $base-color inset;

    &:hover {
      color: #777;
      padding-left: 2em;
      box-shadow: 300px 0 $base-color inset;
    }
  }

  &::before {
    content: "";
    background: #fc7;
    width: 0;
    height: .3em;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;

    @media screen and (max-width: 767px) {
      background: $fg-muted-high;
      height: .1em;
    }
  }

  &:hover::before, &:focus::before {
    width: 100%;
  }
}

.site-intro {
  font-family: Rakkas, serif;
  font-size: 4.5em;
  line-height: 1em;
  margin-bottom: .6666666667em;

  @media screen and (max-width: 739px) {
    font-size: 3em;
  }
}

.site-intro::before, .site-intro::after {
  content: '"'
}

.featured__content {
  column-count: 2;

  @media screen and (max-width: 1023px) {
    column-count: 1
  }
}

.active {
  color: #181843;
  position: relative;

  @media screen and (max-width: 767px) {
    color: $fg-muted;
  }

  &::before {
    content: "";
    background: #f61;
    width: 100%;
    height: .3em;
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (max-width: 767px) {
      height: .1em;
    }
  }
}
