#site-header {
  background: $base-color;

  @media screen and (max-width: 48em) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
.head-wrap {
  display: flex;
  padding: 0 $gutter;

  @media screen and (min-width: 64em) {
    padding-left: $gutter * 2
  }
}

.logo__link {
  align-self: center;
  margin-right: 1.5em;
}

#site-nav {
  flex: auto;
  display: flex;
  align-items: center;

  @media screen and (max-width: 48em) {
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    padding: 1em;
    background: $base-color
  }

}

.site-nav__link {
  color: #fff;
  line-height: 4;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  flex: auto;
  position: relative;

  &:hover, &:focus {
    color: #fc0;
  }

  &::before {
    content: "";
    background: #fc0;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transition: all .3s;
  }

  &:hover::before {
    width: 100%;
    left: 0;
  }

  @media screen and (max-width: 48em) {
    align-self: stretch;
  }
}

.active {
  color: #fc0;
}

#toggle {
  display: none;

  @media screen and (max-width: 48em) {
    background: 0;
    margin-left: auto;
    border: 0;
    height: 4.3636363636em;
    display: block;

    .icon-bar {
      height: 2px;
      width: 22px;
      display: block;
      margin-top: 4px;
      background: $back-color;
      border: solid 1px $back-color;
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

}
