.site-content, .sidebar {
  margin: 1em;
  display: inline-block;
  vertical-align: top
}

.site-content {
  background: $back-color;
  width: calc(70% - 2em);
  padding: 1em;
}

.sidebar {
  width: calc(30% - 2em - 5px)
}

.sidebar__section {
  margin: 1.5em 0;
}
.sidebar__title {
  font-size: 1.5em;
  color: $back-color;
  background: $base-color;
  padding: .75em 1em;
  display: inline-block;
}

.sidebar__content {
  background: $back-color;
  padding: 1em;
  border: 1px solid grey;
}

.sidebar__link {
  display: table;
  text-decoration: none;
  padding-left: 1em;
  margin: .25em 0;
  // position: relative;
  box-shadow: 5px 0 #fc0 inset;
  transition: all .3s;

  // &::before {
  //   content: "";
  //   display: block;
  //   width: 0;
  //   height: 1.5em;
  //   background: rgba(#f07, 50);
  //   position: absolute;
  //   transition: all .3s;
  // }

  &:hover, &:focus {
    box-shadow: 10em 0 #fc0 inset;
  }
}
