.site-content, .sidebar {
  display: inline-block;
  vertical-align: top;
}

.site-content {
  width: calc(65% - 3em);
  margin: 1.5em;

  @media screen and (max-width: 48em) {
    display: block;
    width: 100%;
    padding: 1.5em;
    margin: 0;
    margin-top: 3em;
  }
}

.sidebar {
  width: calc(35% - 1.5em);

  @media screen and (max-width: 48em) {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1.5em;
  }
}

.site-intro {
  font: 4em/1 Rakkas, sans-serif;
  margin-bottom: 1.125em;

  @media screen and (max-width: 40.3125em) {
    font-size: 3em;
  }
}

.sidebar__content {
  background: $back-color;
  margin-bottom: #{$gutter - .125em};
  padding: $gutter;
  border: 1px solid grey;
}

.sidebar__title {
  color: $back-color;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  background: $base-color;
  padding: .5em 1em;
  display: inline-block;
}

.sidebar__link {
  display: table;
  text-decoration: none;
  padding-left: $gutter;
  box-shadow: 5px 0 #fc0 inset;
  transition: all .3s;

  &:hover, &:focus {
    box-shadow: 10em 0 #fc0 inset;
  }
}
