---
layout: default
---
{% if page.banner  %}
<img class="img_banner" src="{{ page.banner }}" />
{% endif %}
<article class="post">
  <header class="post__header">
    <h1 class="post__title">
      {{ page.title }}
    </h1>
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">
      {{ page.date | date: "%m.%d.%Y" }}
    </time>
  </header>

  {{ content }}
  <footer class="post-footer">
    {% if page.author %}
    <span class="post-author">{{ page.author }}</span>
    {% endif %}
    {% if page.meta %}
    <span class="post-meta">{{ page.meta }}</span>
    {% endif %}
  </footer>
</article>
